body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#calculator {
    text-align: center;
}

#display {
    width: 200px;
    font-size: 1.5em;
}

#buttons {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

button:active {
    background-color: #ddd;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.contact__form {
    margin-top: 50px;
}

.contact__form form {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact__form input,
.contact__form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact__form button {
    background: #4caf50;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact__form button:hover {
    background: #45a049;
}


label {
    display: block;
    margin-bottom: 5px;
}
